{% load static %}
<html>
    <head>
        <title>MICAELA BLOG'S</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap" rel="stylesheet">

    </head>
    <body>
       <div class="page-header">
           <h1><a href="/">Phrases and Stories</a></h1>
       </div>

       <div class="post">

           <p>published: 10/10/2019, 12:14</p>
           <h2><a href="">My first post</a></h2>

           <h3><a href=""> Ave Fénix</a></h3>

           <p>El ave Fénix, o Phoenix en inglés, es un pájaro mítico de la mitología griega, que se consumía por acción del fuego, pero luego resurgía de sus propias cenizas</p>
           <p>Por su muerte de manera diferente, el ave Fénix se ha convertido en un símbolo de fuerza, de purificación, de inmortalidad y de renacimiento físico y espirituaL.<p>
           <p>FRASE: Aprender de los fracasos, volver a intentar lo que no se consiguió, enriquecido por la experiencia, y crecer en la adversidad<p>
Renace cada dia como un ave fenix sopla las cenizas e inventate nuevos suenos de cada caida crece y no te canses nunca de dar lo mejor de ti.<p>

       </div>

       <div>
           <p>published: 14.06.2014, 12:14</p>
           <h2><a href="">My second post</a></h2>
           <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
       </div>
       <div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% for post in posts %}
                <div class="post">
                    <div class="date">
                        <p>publicado: {{ post.published_date }}</p>
                    </div>
                    <h2><a href="">{{ post.title }}</a></h2>
                    <p>{{ post.text|linebreaksbr }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
   </body>
</html>
